
extends ../../template/layout_sub



//- -let g_car_num = 0;


mixin carInfoBox(carName,imgName, price=0, link="#none")
  -let car_num;
  -g_car_num++;
  if(g_car_num < 10)
    -car_num= "0" + g_car_num;

  li.ani-sty01: a(href=`${link}`) 
    .car-top  
      p.car-num #{car_num}
      div.car-top-icon: img(src=`${imgPath}/main/icon_special.png`, alt="아이콘")
    .img-area
      img(src=`${imgPath}/car/${imgName}`, alt="이미지")
      //- .img-box
    .car-info-area 
      p.car-name= carName
      .car-price-box
        p.price-cancel &nbsp;#{(price*(1-0.1)).toString().replace(/\B(?=(\d{3})+(?!\d))/,",")}&nbsp;&nbsp;
        p.price-main
          | 월 &nbsp;
          span.num #{price.toString().replace(/\B(?=(\d{3})+(?!\d))/,",")}
          span.won 원~
      .car-etc-box
        p 세금/보험료/방문정비 포함
    .btn-detail 견적 신청하기


  
block content
  -let g_car_num = 0;
  
  main(class="wrap-container page-sub-product")
    section(class="sect product-sect-cont")
      div(class="sect-container")
        div(class="product-area")
          div(class="product-img-main")
            div(class="img-box")
              img(src=`${imgPath}/shop/product_car01.png`, alt="이미지")
          div(class="product-car-info-area") 
            p(class="car-info-title") 신차장기렌트카 카니발
            ul(class="car-info-ul")
              li
                p 제조사
                p 기아자동차
              li 
                p 차종
                p 카니발
              li 
                p 출시년도
                p 2021
              li.price-area
                p.name 리스요금
                p.price
                  span.num 204,000
                  span.won 원
              li.price-area
                p.name 렌트요금
                p.price
                  span.num 204,000
                  span.won 원

            button(type="button" class="btn-car-quote fn-open-modal-quote") 빠른견적상담신청

            div(class="tip-box")
              p ※ 계약조건 48개월 / 연간 2만km / 선수금 30% / 만 26세 이상 보험
              p ※ 포함항목 : 등록세, 취득세, 자동차세, 보험료 및 기타
              p ※ 본 견적은 보증금 & 선수금이 적용된 월평균 납입 예상요금입니다.

    section(class="sect shop-sect-youtube")
      div(class="sect-container")
        div(class="shop-youtube-area")
          .title
            img(src=`${imgPath}/shop/title_youtube.png`, alt="이미지")
          .youtube-box
            <iframe class="youtube-frame" src="https://www.youtube.com/embed/Mjxlo1RQ7ko" title="22년형 GV80이 쓰레기차라고!?? GV80 옵션 알고 타자!!" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    section(class="sect shop-sect-intro")
      div(class="sect-container")
        div(class="sect-content")
          img(src=`${imgPath}/shop/shop_intro01.jpg`, alt="이미지")
          img(src=`${imgPath}/shop/shop_intro02.jpg`, alt="이미지")


    section(class="sect shop-sect-partner")
      div(class="sect-container")
        div(class="sect-content")
          img(src=`${imgPath}/shop/shop_partner.jpg`, alt="이미지")

    section(class="sect shop-sect-car-event")
      div(class="sect-container")
        div(class="shop-car-event-area")
          .title
            p.title-main 이벤트차량 특가
            p.title-sub ※ 조건 : 계약 48개월 / 연간 2만km / 선수금 30% 
          ul.car-list-ul
            +carInfoBox("아반떼 리스","car_relese01.png", 125000)
            +carInfoBox("아반떼","car_relese01.png", 120000)
            +carInfoBox("아반떼","car_relese01.png", 310000)
            +carInfoBox("아반떼","car_relese01.png", 42000)
            +carInfoBox("아반떼","car_relese01.png", 52000)
            +carInfoBox("아반떼","car_relese01.png", 46000)
            //- +popCarInfoBox("아반떼","car_relese01.png")
          
          

  //- include ../intro/_cont_intro

    
