  


main(class="wrap-container page-sub-intro")
  section(class="sect intro-sect-cont01")
    div(class="sect-container")
      div(class="sect-content")
        img(src=`${imgPath}/shop/shop_intro01.jpg`, alt="이미지" class="mobile-hidden")
        img(src=`${imgPath}/shop/shop_intro01_m.jpg`, alt="이미지" class="pc-hidden")
      div(class="sect-content")
        img(src=`${imgPath}/shop/shop_intro02.jpg`, alt="이미지" class="mobile-hidden")
        img(src=`${imgPath}/shop/shop_intro02_m.jpg`, alt="이미지" class="mobile-pc")
        
      div(class="sect-content")
        img(src=`${imgPath}/shop/shop_intro03.jpg`, alt="이미지")

  section(class="sect intro-sect-partner")
    div(class="sect-container")
      div(class="sect-content")
        img(src=`${imgPath}/shop/shop_partner.jpg`, alt="이미지")
